/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #222;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #222;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00adb5;
}

/* Main */
main {
    padding: 3rem;
    max-width: 1400px;
    margin: auto;

    /* Background same as home */
    background: url("/images/about-bg.png") no-repeat center center/cover;
    color: #fff;
    text-align: left;
}

main section {
    margin-bottom: 2.5rem;
}

main h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #00adb5;
}

main p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Footer */
footer {
    background-color: #222;
    color: #bbb;
    text-align: center;
    padding: 2rem;
    margin-top: 0rem;
    font-size: 1rem;
}
